<!DOCTYPE html>
@*@section Styles
{
     <link href="@Url.Content("~/Scripts/imgareaselect/img/imgareaselect-animated.css")" rel="stylesheet" />
    <link href="~/Content/popup.css" rel="stylesheet" />
    <link href="~/Content/User.css" rel="stylesheet" />    
}*@
<html lang="zh">
    <head>
         @RenderSection("Styles", required: false)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Scripts/imgareaselect/img/imgareaselect-animated.css")
        @Styles.Render("~/Content/popup.css")
        @Styles.Render("~/Content/User.css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("产品Logo", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("首页", "Index", "Home")</li>
                            <li>@Html.ActionLink("商家","Index","Seller")</li>
                            <li>@Html.ActionLink("店铺","Index","Shop")</li>
                            <li>@Html.ActionLink("商品","Index","Ware")</li>
                            <li>@Html.ActionLink("订单","Index","Order")</li>
                            <li>@Html.ActionLink("客户管理","Index","Customer")</li>
                            <li>@Html.ActionLink("会员管理","Index","Associator")</li>
                            <li>@Html.ActionLink("角色","Index","Role")</li>
                            <li>@Html.ActionLink("商品分类","Index","WareClassify")</li>
                            <li>@Html.ActionLink("商品标签","Index","WareLable")</li>
                            <li>@Html.ActionLink("订单状态","Index","OrderStatu")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
