@model LitchiServer.Models.WA_WareClassify

@{
    ViewBag.Title = "Details";
}

<h2>商品分类查看</h2>

<fieldset>
    <legend>WA_WareClassify</legend>

    <div class="display-label">
         @Html.HiddenFor(model => model.pk_WAWareClassify_ID)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.pk_WAWareClassify_ID)
    </div>

   
    <div class="display-label">
        分类名称:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrName)
    </div>

    <div class="display-label">
        分类描述：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrDescription)
    </div>

    <div class="display-label">
         分类排序
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.intSort)
    </div>

    
</fieldset>
<p>
    @Html.ActionLink("修改", "Edit", new { id=Model.pk_WAWareClassify_ID  }) |
    @Html.ActionLink("返回列表", "Index")
</p>
