@model LitchiServer.Models.CU_Customer

@{
    ViewBag.Title = "Delete";
}

<h2>删除顾客</h2>

<h3>确定要删除这个顾客吗？</h3>
<fieldset>
    <legend>CU_Customer</legend>

    <div class="display-label" style="display:none">
         @Html.DisplayNameFor(model => model.pk_CUCustomer_ID)
    </div>
    <div class="display-field" style="display:none">
        @Html.DisplayFor(model => model.pk_CUCustomer_ID)
    </div>

    <div class="display-label">
        微信昵称：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrWeiXinName)
    </div>

    <div class="display-label">
        微信号：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrWeiXinID)
    </div>

    <div class="display-label">
        顾客名称：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrCustomerName)
    </div>

    <div class="display-label">
        电话：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrCustomerPhone)
    </div>

    <div class="display-label">
        地址：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvrCustomerAddress)
    </div>

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="删除" /> |
        @Html.ActionLink("返回列表", "Index")
    </p>
}
